@page "/"

    <div class="main-container">
        <div class="main1">
            <h1>Previous TKP Data.</h1>
        </div>
        <div class="main2">
            <h1>TKP Data List.</h1>
        </div>
    </div>

<SurveyPrompt Title="How is Blazor working for you?" />
